#controls {
  display: flex;
  gap: 16px;
  border-radius: 8px;
  background: rgb(246, 246, 254);
  max-width: fit-content;
  margin: 0 auto;
  padding: 32px;
}

input {
  border: 1px solid rgb(128, 128, 128);
  border-radius: 8px;
  width: 150px;
  height: 40px;
  text-align: center;
  font-size: 16px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px 8px 16px;
  height: 40px;
  max-width: fit-content;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
}

button:first-of-type {
  background: rgb(78, 117, 255);
}

button:last-of-type {
  background: rgb(255, 78, 78);
}

#boxes {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
